body { 
  background: url(/../img/ciel-gare-est-paris.NB.jpg)no-repeat center center fixed;
  background-size: cover;
  
}


/*.row {
    margin-bottom: 15px;
}

.row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}*/
.zoneIcone .actiIcon_, p {
    margin: 5px;
}


.col-md-4 img {
    width: 100%;
}
.col-xs-6 img {
    width: 100%;
}

.bandeau {
    width:100%;
    height: 15vw;
    min-height: 110px;
    background-image: url(/../img/galerie_photos_pyr_1_001.jpg);
    background-repeat: none;
    background-size: cover;
}


.bandeau h2 {
    margin-left: 2vw;
    padding-top: 4vw;
    color: white;
    
}

#filAriane a {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    
}
#filAriane p {
    margin-top: 2vw;
    margin-left: 2vw;
}

.navbar {
    margin-top: 15px;
    background-color: transparent;
    border:none;
    border-radius: 15px;
    
}
#overrideBootstrap ul li a {
    color: white;
    font-weight: bolder;
}

#overrideBootstrap ul li:hover {
    background-color: #00a6d0;
}

#overrideBootstrap ul li {
    margin:5px;
    background-color: #43bfe1;
    border-radius: 15px;
    border: solid 2px white;
    box-shadow: #000000 1px 1px;
        
}

#overrideBootstrap .navbar-default .navbar-nav>.active>a {
    
    background-color: #00a6d0;
    border-radius: 15px;
}

#overrideBootstrap .navbar-default .navbar-toggle {
    background-color: #00a6d0;
    color:white;
    font-weight: bolder;
    border:none;
    z-index:100;
}

#overrideBootstrap .navbar-collapse {
    border-top: none;
}
#overrideBootstrap .dropdown-menu {
    background-color: transparent;
    border:none;
}

#overrideBootstrap .dropdown-menu li a:hover {
    background-color: transparent;
}

#overrideBootstrap .navbar-nav {
    
}

/*.navbar-toggle {
    float: left;
    margin-left: 15px;
}*/

.col-md-4 .boutonconnexion {
    //float: right;
    margin-top: 10%;
    margin-left:40%;
}
.col-md-4 .boutonconnexion li a:hover {
    background-color: transparent;   
}

#overrideBootstrap .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent; 
    border-color: #337ab7;
}


/**
/****
/****** ****/
.barreDate {
    text-align: center;
}
#overrideBootstrap .btn-primary {
    margin-top: 0px;
}

#mesfiltres {
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: solid #286090 3px;
}

.filtreHidden {
    display: none;
}

#filtre_choixFiltre input, label {
    margin-left: 3px;
    margin-right: 3px;
}

.filtreDateFinHidden {
    display:none;
}
#overrideBootstrap .ValiderFiltre {
    margin-top: 14px;
}


input::-webkit-calendar-picker-indicator {
    display: none;
}

.monContenu {
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index:99;
    //height: 13vw;
    border-radius: 15px;
    color:white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.monContenu select, input, div.selectize-input, .selectize-dropdown {
    color:black;
    text-shadow:none;
    
}

.ficheCollective {
    font-size: 1.2em;
    padding-top: 15px;
}
.ficheCollective .actiCartouche_ .col-md-6 {
    text-align: left;
}
.ficheCollective .participantEncart .col-md-4 {
    text-align: left;
}

.ficheCollective .participantEncart .col-md-4 .row {
    margin-left: 10px;
}

.accueilTitre {
    margin-top: 15px;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 20px;
}
.accueilSecteur {
    margin-top: 0;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 20px;
}
.acceuilRDV {
    margin-top: 15px;
}
#overrideBootstrap .observation p {
    font-style: oblique;
    font-weight: normal;
    margin-left: 20px;
    background-color: rgba(50, 50, 50, 0.5);
    width: 90%;
}

.encartMateriel {
    text-align: left;
}

.cotationStylePhysique {
    color: #FF8000;
    font-weight: bold;
    
}
.cotationStyletechnique {
    color:#0101DF;
    font-weight: bold;
    text-shadow:none;
    
}

.encartInscription p, .encartInscription button {
    padding: 5px;
    margin: 20px;
     
}
.encartInscription p {
    margin-top: 25px;
    border-radius: 15px;
}
.etat1 p {
    background-color: rgba(50, 50, 50, 0.5);
}
.etat2 p {
    background-color: rgba(127, 191, 63, 0.5);
}

#supprWrapper {
    width: 30px;
}
/*.monContenu .row [class^="col-"] {
    
    background-color: #cccccc;
    border-radius: 15px;
        
} */

.section {
    margin-bottom: 15px;
}

#overrideBootstrap .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #3366ff;
}

#overrideBootstrap .nav-tabs>li a {
    background-color: #43bfe1;
    border-radius: 15px;
}

#overrideBootstrap .nav-tabs>li a:focus, .nav-tabs>li a:hover {
    background-color: #3366ff;
}

#overrideBootstrap .btn-danger, .btn-info {
    border: 2px solid white;
    border-radius: 20px;
    height: 40px;
    box-shadow: 2px 2px 2px #000000;
}

#overrideBootstrap .btn-default {
    border: 2px solid #cccccc;
    border-radius: 20px;
    
    box-shadow: 2px 2px 2px #000000;
}

#overrideBootstrap .xsDiv .btn-danger {
    height: 25px;
}
#overrideBootstrap .ficheCollective .monBoutonRejet {
    height: 24px;
}
#overrideBootstrap .participantEncart .btn {
    margin-right : 10px;
}

#overrideBootstrap .ficheCollective .btn-success {
    border: 2px solid white;
    border-radius: 25px;
    height: 24px;
    box-shadow: 2px 2px 2px #000000;
}
#overrideBootstrap .participantEncart .modal .btn-success {
    height: 44px;
}
.ficheCollective .liste .row {
    margin-bottom: 3px;
}
@media only screen and (min-width:1200px) {
    #overrideBootstrap .btn-danger, .btn-info {
    border: 2px solid white;
    border-radius: 25px;
    height: 44px;
    box-shadow: 2px 2px 2px #000000;
    }

    #overrideBootstrap .btn-default {
        border: 2px solid #cccccc;
        border-radius: 20px;
        height: 47px;
        box-shadow: 2px 2px 2px #000000;
    }

    #overrideBootstrap .xsDiv .btn-danger {
        height: 25px;
    }
}
/****Tooltip***************************/


#overrideBootstrap .tooltip-inner{
    width: 350px;
    height: auto;
    min-height: 70px;
    font-size: 1.5em;
    border-radius: 15px;
    
    
}

#overrideBootstrap .tooltip-arrow {
    color: #337ab7;
}
/*.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }*/



/***SELECTIZE************************/

.selectize-control { 
    width: 60%; 
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.button.large {
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active {
  top: 2px;
}


/******************
/*************
/****** activite Style *****************/
/************************************************/

/*****neutre*****/


.actiCartouche_ {
    margin-top: 5px;
    width: 97%;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

.ficheCollectiveDesc p {
    font-weight: 600;
    display: inline;
    
}

.actiCartouche_ span {
   margin-left: 20px; 
}

#overrideBootstrap .ficheCollectiveDesc {
    text-align: left;
    
}
#overrideBootstrap .ficheCollectiveDesc h1 {
    text-align: center;
    
}



/*****Rando*****/

.actiIcon_1 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Randonnee.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.actiContainer_1 {
    background-color: rgba(67, 156, 43, 0.50);
/*    background-image : url(/../img/randoCartouche.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    
}

.actiCartouche_1 {
    background-color: rgba(67, 156, 43, 0.50);
    
}


/*****alpi*****/

.actiIcon_2 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Alpinisme.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.actiContainer_2 {
    background-color: rgba(233, 98, 32, 0.50);
/*    background-image : url(/../img/rocher.cartouche.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}
.actiCartouche_2 {
    background-color: rgba(233, 98, 32, 0.50);
}

/*****escalade*****/

.actiIcon_3 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Escalade.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.actiContainer_3 {
    background-color: rgba(252, 198, 31, 0.50);
}
.actiCartouche_3 {
    background-color: rgba(252, 198, 31, 0.50);
}


/*****Canyon*****/

.actiIcon_4 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Canyon.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.actiContainer_4 {
    background-color: rgba(39, 133, 194, 0.50);
}
.actiCartouche_4 {
    background-color: rgba(39, 133, 194, 0.50);
}



/*****Speleologie*****/

.actiIcon_5 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Speleologie.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.actiContainer_5 {
    background-color: rgba(39, 133, 194, 0.75);
}
.actiCartouche_5 {
    background-color: rgb(39, 133, 194);
}

/*****Velo-de-montagne*****/


.actiIcon_6 {
    width: 50px;
    height: 50px;
    background-image : url(/../img/icon/Velo-de-montagne.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.actiContainer_6 {
    background-color: rgba(30, 145, 46, 0.75);
}
.actiCartouche_6 {
    background-color: rgb(30, 145, 46);
}




//***************************************************************************************************//




