body { 
  background: url(/../img/ciel-gare-est-paris.NB.jpg)no-repeat center center fixed;
  background-size: cover;
  
}


/*.row {
    margin-bottom: 15px;
}

.row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}*/



.col-md-4 img {
    width: 100%;
}
.col-xs-6 img {
    width: 100%;
}

.bandeau {
    width:100%;
    height: 15vw;
    min-height: 110px;
    background-image: url(/../img/galerie_photos_pyr_1_001.jpg);
    background-repeat: none;
    background-size: cover;
}


.bandeau h2 {
    margin-left: 2vw;
    padding-top: 4vw;
    color: white;
    
}

#filAriane a {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    
}
#filAriane p {
    margin-top: 2vw;
    margin-left: 2vw;
}

.navbar {
    margin-top: 15px;
    background-color: transparent;
    border:none;
    border-radius: 15px;
    
}
#overrideBootstrap ul li a {
    color: white;
    font-weight: bolder;
}

#overrideBootstrap ul li:hover {
    background-color: #00a6d0;
}

#overrideBootstrap ul li {
    margin:5px;
    background-color: #43bfe1;
    border-radius: 15px;
    border: solid 2px white;
    box-shadow: #000000 1px 1px;
        
}

#overrideBootstrap .navbar-default .navbar-nav>.active>a {
    
    background-color: #00a6d0;
    border-radius: 15px;
}

#overrideBootstrap .navbar-default .navbar-toggle {
    background-color: #00a6d0;
    color:white;
    font-weight: bolder;
    border:none;
    z-index:100;
}

#overrideBootstrap .navbar-collapse {
    border-top: none;
}
#overrideBootstrap .dropdown-menu {
    background-color: transparent;
    border:none;
}

#overrideBootstrap .dropdown-menu li a:hover {
    background-color: transparent;
}

#overrideBootstrap .navbar-nav {
    
}

/*.navbar-toggle {
    float: left;
    margin-left: 15px;
}*/

.col-md-4 .boutonconnexion {
    //float: right;
    margin-top: 10%;
    margin-left:40%;
}
.col-md-4 .boutonconnexion li a:hover {
    background-color: transparent;   
}

#overrideBootstrap .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent; 
    border-color: #337ab7;
}


/**
/****
/****** ****/

.monContenu {
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index:99;
    //height: 13vw;
    border-radius: 15px;
}

.monContenu .row [class^="col-"] {
    
    background-color: #cccccc;
    border-radius: 15px;
        
} 

.section {
    margin-bottom: 15px;
}

#overrideBootstrap .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #3366ff;
}

#overrideBootstrap .nav-tabs>li a {
    background-color: #43bfe1;
    border-radius: 15px;
}

#overrideBootstrap .nav-tabs>li a:focus, .nav-tabs>li a:hover {
    background-color: #3366ff;
}


/***SELECTIZE************************/

.selectize-control { 
    width: 60%; 
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #eee;
  color: #555;
}

.button:active {
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active {
  border-color: #eaeaea;
  background: #fafafa;
  cursor: default;
  position: static;
  color: #999;
  /* Usually, !important should be avoided but here it's really needed :) */
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.button.large {
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active {
  top: 2px;
}





